<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config />  <!-- to use annotation based configuration..this property is important  -->

	<bean name="world" class="com.deepika.World">
		<property name="country1" value="Hello World 1"></property>
		<property name="country2" value="Hello World 2"></property> <!-- comment this property to see the difference -->
	</bean>

</beans>
